<div class="row" style="color:white">
    <div class="col-3 card" style="background-color: #2E4053;">
        <div class="row  ">
            <div class="col-3">

                <i class="fa fa-deaf" aria-hidden="true" style="margin-top: 20%;font-size: 28px;"></i>

            </div>
            <div class="col-9">
                <div style="color:blanchedalmond">
                    Product Type
                </div>
                <div>
                    Housing Loan
                </div>

            </div>

        </div>
    </div>
    <div class="col-3 card" style="background-color: #2E4053;">
        <div class="row ">
            <div class="col-3">
                <i class="fa fa-deaf" aria-hidden="true" style="margin-top: 20%;font-size: 28px;"></i>

            </div>
            <div class="col-9">
                <div style="color:blanchedalmond">
                    Scorecard Type
                </div>
                <div>
                    Application Model
                </div>

            </div>

        </div>
    </div>
    <div class="col-2 card" style="background-color: #2E4053;">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-deaf" aria-hidden="true" style="margin-top: 20%;font-size: 28px;"></i>

            </div>
            <div class="col-9">
                <div style="color:blanchedalmond">
                    Model Segment
                </div>
                <div>
                    Bereau
                </div>

            </div>

        </div>
    </div>
    <div class="col-2 card" style="background-color: #2E4053;">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-deaf" aria-hidden="true" style="margin-top: 20%;font-size: 28px;"></i>

            </div>
            <div class="col-9">
                <div style="color:blanchedalmond">
                    Calibration ID
                </div>
                <div>
                    FBTHLASWB_202008172041
                </div>

            </div>

        </div>
    </div>
    <div class="col-2 card" style="background-color: #2E4053;">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-deaf" aria-hidden="true" style="margin-top: 20%;font-size: 28px;"></i>

            </div>
            <div class="col-9">
                <div style="color:blanchedalmond">
                    Date Range
                </div>
                <div>
                    2016-001-01-2019-01-01
                </div>

            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="col-4 card" style="background-color: #2E4053;">
        <br>
        <div style="text-align: center;">
            Select Product Types
        </div>
        <br>
        <br>

        <div>
            <select name="laon" id="loan" style="width: 100%; background-color: black; color:white; padding:3%"
                disabled>
                <option value="volvo">Housing Loan</option>

            </select>
        </div>
        <br>
        <div>
            <select name=" Scorecardype" id="ScorecardType"
                style="width: 100%;  padding:3%; background-color: black; color:white" disabled>
                <option value="volvo"> Application Model</option>

            </select>
        </div>
        <br>
        <div>
            <select name="model" id="model" style="width: 100%;padding:3%; background-color: black; color:white"
                disabled>
                <option value="volvo">Bereau</option>

            </select>
        </div>
        <br>
        <div>
            <select name="FBTHLASWB_202008172041" id="FBTHLASWB_202008172041"
                style="width: 100%; padding:3%;background-color: black; color:white" disabled>
                <option value="volvo">FBTHLASWB_202008172041</option>

            </select>
        </div>
        <br>
        <div>
            <select name="date" id="date" style="width: 100%; background-color: black; padding:3%;color:white" disabled>
                <option value="volvo">Select Date Range</option>

            </select>
        </div>
        <br>

    </div>
    <div class="col-8 card" style="background-color: #2E4053;">
        <br>
        <br>
        <div class="row">
            <div class="col-4">
                <div style="padding: 1%;
            border-style: groove;">
                    <span>CalliberationId:</span> <span style="color: aqua;">FBTHLASWB_202008172041</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                border-style: groove;">
                    <span>Status:</span> <span style="color: aqua;">Redeployed</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                    border-style: groove;">
                    <span>Total Defaults:</span> <span style="color: aqua;">62</span>

                </div>
            </div>
            <br>
            <br>

            <div class="col-4">
                <div style="padding: 1%;
                        border-style: groove;">
                    <span>Default Percentage:</span> <span style="color: aqua;">24.12</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                            border-style: groove;">
                    <span>Max Default Amount:</span> <span style="color: aqua;">123456</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                                border-style: groove;">
                    <span>Max Default Customer Id:</span> <span style="color: aqua;">123456799</span>

                </div>
            </div>
            <br>
            <br>
            <div class="col-4">
                <div style="padding: 1%;
                                    border-style: groove;">
                    <span>Max date Data:</span> <span style="color: aqua;">1-2019</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                                        border-style: groove;">
                    <span>Mic Date data:</span> <span style="color: aqua;">1-2016</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                                            border-style: groove;">
                    <span>Total Customers Analysed:</span> <span style="color: aqua;">195</span>

                </div>
            </div>
            <br>
            <br>
            <div class="col-4">
                <div style="padding: 1%;
                                                border-style: groove;">
                    <span>Max Probability of Defaults:</span> <span style="color: aqua;">0.597</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                                                    border-style: groove;">
                    <span>Min Probability of Defaults:</span> <span style="color: aqua;">FHA</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                                                        border-style: groove;">
                    <span>PD Range:</span> <span style="color: aqua;">0.
                    368</span>

                </div>
            </div>
            <br>
            <br>
            <div class="col-4">
                <div style="padding: 1%;
                                                            border-style: groove;">
                    <span>Lower Disk Quantine:</span> <span style="color: aqua;">0.212</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                                                                border-style: groove;">
                    <span>High Disk Quantine::</span> <span style="color: aqua;">0.369</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                                                                    border-style: groove;">
                    <span>Very High Rsk Quantine:</span> <span style="color: aqua;">0.268</span>

                </div>
            </div>
            <br>
            <br>
            <div class="col-4">
                <div style="padding: 1%;
                                                                        border-style: groove;">
                    <span>Lower Disk Customer:</span> <span style="color: aqua;">123</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                                                                            border-style: groove;">
                    <span>High Risk Quantile Custoer:</span> <span style="color: aqua;">215</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                                                                                border-style: groove;">
                    <span>Very High Risk Quantile Customer:</span> <span style="color: aqua;">325</span>

                </div>
            </div>
            <br>
            <br>
            <div class="col-4">
                <div style="padding: 1%;
                                                                                    border-style: groove;">
                    <span>Max Dare Range:</span> <span style="color: aqua;">1-2019</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                                                                                        border-style: groove;">
                    <span>Min Date Range:</span> <span style="color: aqua;">1-2016</span>

                </div>
            </div>
            <div class="col-4">
                <div style="padding: 1%;
                                                                                            border-style: groove;">
                    <span>CollerationId:</span> <span style="color: aqua;">FHA</span>

                </div>
            </div>
            <br>
            <br>
            <div class="col-4">
                <div style="padding: 1%;
                                                                                                border-style: groove;">
                    <span>Defalut Range:</span> <span style="color: aqua;">1-2017</span>

                </div>
            </div>
            <div class="col-4">
                <div
                    style="padding: 1%;
                                                                                                    border-style: groove;">
                    <span>Customer Id:</span> <span style="color: aqua;">123456789</span>

                </div>
            </div>
            <div class="col-4">
                <div
                    style="padding: 1%;
                                                                                                        border-style: groove;">
                    <span>Status :</span> <span style="color: aqua;">Redeployed</span>

                </div>
            </div>
           


        </div>

    </div>
    <br>
    <br>
    ]<div class="col-5" style="margin-top:2% ">
        <div #charts></div>
    </div>
    <div class="col-5"  style="margin-top:2% ; margin-left: 2%;">
        <div #charts1></div>
    </div>


</div>